body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Добавлено для правильного позиционирования кнопок */
}

.slideshow-container {
    position: relative;
    max-width: 800px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
    text-align: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.slide:first-child {
    display: block;
}

.slide h1, .slide h2 {
    margin: 0 0 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-50%); /* Центрирует кнопки по вертикали */
}

.prev {
    left: 10px; /* Устанавливает кнопку влево */
}

.next {
    right: 10px; /* Устанавливает кнопку вправо */
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
